<%- include("../includes/header.ejs", {title:"My Account - Details"}); %>
<style>
    img {
        border-radius: 5px 5px 0 0;
    }
    #profile{
        width:40%;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
    }
    #events{
        position: absolute;
        top: 40%;
        width: 40%;
        right: 10%;
        overflow: scroll;
    }
</style>
<div class="card" id="profile">
    <img id="Profile" src="http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-profile.png" alt="Avatar" style="width:100%">

    <div class="container activator">

        <h4 class="card-title"><%= result[0].First_Name %> <%= result[0].Last_Name %></h4>
<p class="card-text">
    Name: <%= result[0].First_Name %> <%= result[0].Last_Name %>
    <br>
    Email:<%= result[0].Email %>
    <br>
    Username: <%= result[0].Username %>
    <br>
    Description: <%= result[0].Description %>
    <br>
     Friends: <%= result[0].Num_Friends %>
</p>
        <form action = "/friends/delete" method="POST">
            <input hidden name = "Friend_ID" value = <%=result[0].User_ID%>>
            <input button id = "MyButton" value = "Delete Friend" type="submit"/>
        </form>
    </article>

    <%if(result[0].Event_ID > 0){%>
        <br>
        <br>
        <div id = "events">
            <h2>Created Events:</h2><br>

            <div class="card-columns" >
        <% for(var i=0; result.length > i; i++ ) { %>
            <div class="card">
                <div class="container activator">
                    <h4 class="card-title"><%=result[i].Event_Name%></h4>
                    <p class="card-text"><%=result[i].Event_Desc%></p>
                    <div class="card-footer">
                        <%var t = result[i].Event_DateTime.split(/[- :]/);
                            var options = {
                                weekday: "long", year: "numeric", month: "short",
                                day: "numeric", hour: "2-digit", minute: "2-digit"
                            };
                            var d = new Date(Date.UTC(t[0], t[1]-1, t[2], t[3], t[4], t[5]));
                        %>
                        <p class="card-text"><small class="text-muted"><%=d.toLocaleTimeString("en-us", options)%></small></p>
                    </div>
                </div>
            </div>
            <br>
        <% } %>
        </div>
        </div>

        <% } %>
<article>


<%- include("../includes/footer.ejs"); %>