<%- include("../includes/header.ejs", {title:"My Account - Details"}); %>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Account Was Successfully Updated!
    </div>
</div>
<% }%>
<h1><%= result[0].First_Name %> <%= result[0].Last_Name %></h1>
<form action="/account/edit" method="post">
    Username:
    <br>
    <input id="Username" name="Username" value= "<%= result[0].Username %>" type="text" />
    <br>
    <br>
    Email:
    <br>
    <%if(result[0].Email == null){%>
    <input id="Email" name="Email" placeholder="Email" type="text" />
    <%}else{%>
    <input id="Email" name="Email" value="<%= result[0].Email %>" type="text" />
    <%}%>
    <br>
    <br>
    Name:
    <br>
    <input id="First_Name" name="First_Name" value="<%= result[0].First_Name %>" type="text" />
    <input id="First_Name" name="Last_Name" value="<%= result[0].Last_Name %>" type="text" />
    <br>
    <br>
    Description:
    <br>
    <input id="Description" name="Description" value="<%= result[0].Description %>" type="text" />
    <br>
    <br>
    <input id = "submit" type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>