<!DOCTYPE html>
<html>
<head>
    <style>
        html, body {height: 100%;}
        input, textarea {
            padding: 9px;
            border: solid 1px #E5E5E5;
            outline: 0;
            font: normal 13px/100% Verdana, Tahoma, sans-serif;
            width: 200px;
            background: #FFFFFF;
        }

        textarea {
            width: 400px;
            max-width: 400px;
            height: 150px;
            line-height: 150%;
        }

        input:hover, textarea:hover,
        input:focus, textarea:focus {
            border-color: #C9C9C9;
        }

        .form label {
            margin-left: 10px;
            color: #999999;
        }

        .submit input {
            width: auto;
            padding: 9px 15px;
            background: #617798;
            border: 0;
            font-size: 14px;
            color: lightgreen;
        }
        div.container {
            width: 100%;
        }

        header, footer {
            padding: 1em;
            margin: 0px;
            color: white;
            width: 100%;
            background-color: lightskyblue;
            clear: left;
            text-align: left;
        }
        #headerh1{
            font-size: 100px;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -4em;
        }

        .footer, .push {height: 4em; }
        footer {
            position:fixed;
            bottom: 0px;
            height: 50px;
        }
        #Comment, #Post{
            width: 100%;
        }

        article {
            margin-left: 170px;
            margin-right: 170px;
            padding: 1em;
            overflow: auto;
        }
         table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 25px;
            border-collapse: collapse;
            width: 100%;
        }

         td, th {
            border: 0px solid #ddd;
            padding: 8px;
            height: 50px;

         }

         tr:nth-child(even){background-color: #f2f2f2;}

         tr:hover {background-color: #ddd;}

         th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: lightskyblue;
            color: white;
        }
        #Logout{
            position: absolute;
            right: 0px;
        }
        #userDetails{
            font-size: 20px;
        }
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px;

        }
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }
        #myButton{
            position: absolute;
            right: 10%;
            bottom: 20%;
            display:inline-block;
            outline:0;
            padding: 8px 16px;
            vertical-align:middle;
            overflow:hidden;
            text-decoration:none;
            color:blue;
            background-color: inherit;
            text-align:center;
            cursor:pointer;
            white-space:nowrap
        }
         #datepicker #First_Name, #Last_Name, #Login, #EventName, #EventPlace{
            width: 40%;
            overflow: hidden;
        }
        #EventDate #EventTime{
            position: relative;
            width: 40%;

        }
        #FriendsInvited{
            position: absolute;
            right: 10%;
            top: 30%;
            overflow: scroll;
            padding:10px;
        }
        #FriendsPanel{
            height: auto !important;
        }
        #Email, #Username, #Description {
            width: 80%;
        }
    </style>
    <div class="container">

    <title><%= title %></title>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

        <header>
        <h1 id = 'headerh1'>HMU</h1>
            <%if(Current_User_ID != null){%>
        <h3>Welcome, <%=Current_User_ID.Username%></h3>
            <%}%>
    </header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <% if(Current_User_ID == null){%>
                    <a class="navbar-brand" href="/">HMU</a>
                    <%}else{%>
                    <a class="navbar-brand" href="/event/all">HMU</a>
                    <%}%>
                </div>
                <ul class="nav navbar-nav">

                    <%if(Current_User_ID != null){%>
                    <li><a href="/event/all">My Events </a></li>
                    <li><a href="/friends/all">Friends </a></li>
                    <li><a href="/Account/myAccount/">My Account </a></li>
                    <li id = 'Logout'><a href="/logout">Logout </a></li>
                    <%}else{%>
                    <li id = 'Logout'><a href="/">Sign In/Sign Up </a></li>
                    <%}%>
                    <li><a href="/about">About </a></li>


                </ul>
            </div>
    </nav>
<body>
<div class="wrapper">
<article>
