<%- include("../includes/header.ejs", {title:"My Friends - View All"}); %>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
         Friend was successfully saved!
    </div>
</div>
<% }%>
<% if(locals.delete_success) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Friend was successfully removed!
    </div>
</div>
<% }%>
        <h1>Friends
    <a id = "FriendToggle" data-toggle="collapse" href="#FriendAdd" >+</a></h1>
    <div class = "collapse" id = "FriendAdd">
        <form action="/friends/addFriend" method="POST">
            Search for new Friends:<br>
            <input id="FriendName" name="First_Name" placeholder="First Name" type="text" default = "Def"/>
            <input id="FriendName" name="Last_Name" placeholder="Last Name" type="text" default = "Def" />
            <input id="FriendName" name="Username" placeholder="Username" type="text" default = "Def"/>
            <br>
            <input hidden id = "Sub" value = "Search" type="submit" />
            <br>
        </form>

    </div>
<form action="/friends/addFriend" method="POST">
    <input hidden id="FriendName" name="First_Name" placeholder="First Name" type="text" value = "%"/>
    <input hidden id="FriendName" name="Last_Name" placeholder="Last Name" type="text" value = "%" />
    <input hidden id="FriendName" name="Username" placeholder="Username" type="text" value = "%"/>
    <input button id = "MyButton" value = "View all People" type="submit"/>
</form>
<br>
<form action="/friends/all" method="POST">
    Show only friends with more than: <input style="width: 3%" id="FriendName" name="Friend_Min" placeholder="0" type="text"/> friends.
    <input button id = "MyButton" value = "Go" type="submit"/>
</form>
<br>
<div class="card-columns">
    <% for(var i=0; result.length > i; i++ ) { %>
    <a class="col-sm-4" href = "/Account/Friend/?User_ID=<%= result[i].Friend_ID %>">
        <img id="Profile" src="http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-profile.png" alt="Avatar" style="width:100%">
        <div class="card">
            <div class="container activator">
                <h4 class="card-title"><%=result[i].Username%></h4>
                <p class="card-text"><%=result[i].First_Name%> <%=result[i].Last_Name%></p>
                <p class="card-text">Number of Friends: <%=result[i].Num_Friends%></p>
            </div>
        </div>
    </a>

    <% } %>

</div>

<%- include("../includes/footer.ejs"); %>