<%- include("./includes/header.ejs", {title: title}); %>


<h1>Login</h1>
<form action="/account/login" method="POST">
    <% if(locals.Username_missing) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Username must not be blank.
        </div>
    </div>
    <br>
    <% }%>
    <% if(locals.Userpass_missing) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Password must not be blank.
        </div>
    </div>
    <br>
    <% }%>
    <input id="Login" name="Username" placeholder="Username" type="text" /> <input id="Login" name="Password" placeholder="Password" type="password" />
    <br>
    <br>
    <input id = "submit" value = "Login" type="submit" />
</form>

<h1>Sign Up</h1>

<form action="/account/insert" method="POST">
    <% if(locals.username_missing) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Username must not be blank.
        </div>
    </div>
    <br>
    <% }%>
    <input id="Username" name="Username" placeholder="Username" type="text" />
    <br>
    <br>
    <% if(locals.password_missing) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Password must not be blank.
        </div>
    </div>
    <br>
    <% }%>
    <% if(locals.password_missmatch) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Passwords do not match.
        </div>
    </div>
    <br>
    <% }%>
    <input id="Password" name="Password" placeholder="Password" type="password" /><input id="Password" name="Password2" placeholder="Confirm Password" type="password" />
    <br>
    <br>
    <% if(locals.first_missing) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Name must not be blank.
        </div>
    </div>
    <br>
    <% }%>
    <% if(locals.last_missing) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Name must not be blank.
        </div>
    </div>
    <br>
    <% }%>
    <input id="First_Name" name="First_Name" placeholder="First Name" type="text" /><input id="Last_Name" name="Last_Name" placeholder="Last Name" type="text" />
    <br>
    <br>
    <% if(locals.email_missing) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Email must not be blank.
        </div>
    </div>
    <br>
    <% }%>
    <% if(locals.email_missatch) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Emails do not match.
        </div>
    </div>
    <br>
    <% }%>
    <input id="Email" name="Email" placeholder="Email" type="text" />
    <br>
    <br>
    <input id="Email" name="Email2" placeholder="Confirm Email" type="text" />
    <br>
    <br>
    <input id = "submit" value = "Create" type="submit" >
</form>
<%- include("./includes/footer.ejs"); %>
