<%- include("../includes/header.ejs", {title:"My Groups - View All"}); %>

<h1><%= result[0].Group_Name %> <a>+</a></h1>

<br />
<div class="card-columns">
    <% for(var i=0; result.length > i; i++ ) { %>

    <a class="col-sm-4" href = "/Account/All/?User_ID=<%= result[i].Friend_ID %>">
        <img id="Profile" src="http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-profile.png" alt="Avatar" style="width:100%">
        <div class="card">
            <div class="container activator">
                <h4 class="card-title"><%=result[i].Username%></h4>
                <p class="card-text"><%=result[i].First_Name%> <%=result[i].Last_Name%></p>
            </div>
        </div>
        <br>
    </a>
    <% } %>
</div>
<%- include("../includes/footer.ejs"); %>