<%- include("../includes/header.ejs", {title:"My Groups - View All"}); %>

<h1>Groups <a data-toggle="collapse" href="#GroupForm" >+</a></h1>
<div class = "collapse" id = "GroupForm">
    <form action="/groups/add" method="get">
        <input id="GroupName" name="Group_Name" placeholder="Group Name" type="text" />
        <input id = "submit" value = "Continue" type="submit" />
    </form>
</div>

<br />

<div class="card-columns">
    <% for(var i=0; result.length > i; i++ ) { %>
    <a class="col-sm-4" href = "/groups/?Group_ID=<%= result[i].Group_ID %>">
        <div class="card">
            <div class="container activator">
                <h4 class="card-title"><%=result[i].Group_Name%></h4>
                <p class="card-text">Members: <%=result[i].Members%></p>
            </div>
        </div>
    <br>
    </a>
    <% } %>
</div>

<%- include("../includes/footer.ejs"); %>