<%- include("../includes/header", {title:title}); %>

<h1>HMU</h1>
<h3>An Event Organization App</h3>
<br>
<p>Created by Kurt Granborg</p>

<p>Support Email: support@HMU.com</p>
<br>
<h4>Sample Login: </h4>
<p>     Username: KGranborg</p>
<p>     Password: pass</p>
<br>
<a href=”/images/ERD.png”> My ER Diagram</a><br>
<a href=”/images/RS.png”> My Relational Schema</a><br>
<br>
<p>
    Funcational Dependancies: <br>
    FD1: User_ID -> Username, First_Name, Last_Name, Description, Profile_Picture<br>
    FD2: User_ID->Friend_ID<br>
    FD3: Event_ID -> Event_Name, User_ID, Event_Location, Event_DateTime, Event_Desc<br>
    FD4: Event_ID, Post_ID -> User_ID, Content<br>
    FD5: Post_ID, Comment_ID -> User_ID, Content<br>
    FD6: Friend_ID, Event_ID -><br>
</p>
<br>

<%- include("../includes/footer.ejs"); %>