<%- include("../includes/header.ejs", {title:"My Events - View All"}); %>

<h1><%= result[0].PostContent%></h1>
<%if(result[0].User_ID != null){%>
    <% for(var i=0; result.length > i; i++ ) { %>
        <div class="card">
            <div class="container activator">
                <a href="/Account/Friend/?User_ID=<%= result[i].User_ID %>"><h4 class="card-title"><%=result[i].Username%></h4></a>
                <p class="card-text"><%=result[i].Content%></p>
            </div>
        </div>
    <% } %>
    <br>
    <br>
<%} else{%>
<h4>No comments yet!</h4>
<% } %>
    <form action="/event/commentPost" method="POST">
        <input id="Comment" name="Comment" placeholder="Add a comment" type="text" />
        <input hidden name = "Post_ID" value="<%=result[0].PostID%>" type = "text" />
        <input hidden id = "Sub" value = "Submit" type="submit" />
    </form>
<%- include("../includes/footer.ejs"); %>