<%- include("../includes/header.ejs", {title:"My Events - View All"}); %>
<meta charset="utf-8" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
    $(function() {
        $( "#timepicker" ).timepicker();
    });

</script>

<h1>Upcoming Events <a data-toggle="collapse" href="#EventForm" >+</a></h1>
<br>
<div class = "collapse" id = "EventForm">
    <form action="/event/create" method="POST">
        <input id="EventName" name="Event_Name" placeholder="Event Name" type="text" />
        <input id="EventPlace" name="Event_Location" placeholder="Location" type="text" />
        <input style = "width: 40%" name = "date" type="text" id="datepicker" placeholder="MM/DD/YYYY"/>
        <input style = "width: 40%" name = "time" type="time" id="timepicker" placeholder="HH:MM AM/PM"/>
        <input id="Description" name="Event_Description" placeholder="Description" type="text" />
        <br>
        <br>
        <input id = "submit" value = "Continue" type="submit" />
    </form>
</div>
<br />
<div class="card-columns">
    <% for(var i=0; result.length > i; i++ ) { %>
    <a class="col-sm-4" href = "/event/?Event_ID=<%=result[i].Event_ID%>">
        <div class="card">
        <div class="container activator">
            <h4 class="card-title"><%=result[i].Event_Name%></h4>
            <p class="card-text"><%=result[i].Event_Desc%></p>
            <div class="card-footer">
                <%var t = result[i].Event_DateTime.split(/[- :]/);
                    var options = {
                        weekday: "long", year: "numeric", month: "short",
                        day: "numeric", hour: "2-digit", minute: "2-digit"
                    };
                    var d = new Date(Date.UTC(t[0], t[1]-1, t[2], t[3], t[4], t[5]));
                %>
            <p class="card-text"><small class="text-muted"><%=d.toLocaleTimeString("en-us", options)%></small></p>
            </div>
        </div>
    </div>
        <br>
    </a>
    <% } %>
</div>


<%- include("../includes/footer.ejs"); %>