<%- include("../includes/header.ejs", {title:"My Events - Add Friend"}); %>
<style>
    #submit{
        position:relative;

    }
</style>
<%if(locals.none_selected){%>
<div class="col-md-12">
    <div id="message" class="alert alert-danger col-md-4">
        No friend selected.
    </div>
</div>
<% }; %>
<h1>Add Friend By Search:
<a id = "FriendToggle" data-toggle="collapse" href="#FriendAdd" >+</a></h1>
<div class = "collapse" id = "FriendAdd">
    <form action="/event/addFriend" method="get">
        <input hidden name = "Event_ID" value="<%=result.Event_ID%>" type = "text" />
        <input id="FriendName" name="First_Name" placeholder="First Name" type="text" default = "%"/>

        <input id="FriendName" name="Last_Name" placeholder="Last Name" type="text" default = "%" />
        <input id="FriendName" name="Username" placeholder="Username" type="text" default = "%"/>
        <input hidden id = "Sub" value = "Search" type="submit" />
    </form>
</div>

<h2> <%=result.length%> Results Found!</h2>
<div class="card-columns">
    <form action="/event/submitAdds" method="POST">
        <input hidden name = "Event_ID" value="<%=result.Event_ID%>" type = "text" />
        <input hidden id="FriendName" name="First_Name" placeholder="First Name" type="text" default = "%"/>
        <input hidden id="FriendName" name="Last_Name" placeholder="Last Name" type="text" default = "%" />
        <input hidden id="FriendName" name="Username" placeholder="Username" type="text" default = "%"/>
        <input id = "submit" value = "Invite" type="submit" />
        <br>
        <br>
        <% for(var i=0; result.length > i; i++ ) { %>
        <div class = "highlight">
        <label for = "toggle-<%=result[i].User_ID%>" class="col-sm-2">
            <img id="Profile" src="http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-profile.png" alt="Avatar" style="width:100%">
            <div class="card" id = "friend<%=result[i].Friend_ID%>" >
                <br>

                <div class="container activator">
                    <input type= "checkbox" id="toggle-<%=result[i].User_ID%>" name="AddFriend" value=<%= result[i].User_ID%>>
                    <h4 class="card-title"><%=result[i].Username%></h4>
                    <p class="card-text"><%=result[i].First_Name%> <%=result[i].Last_Name%></p>
                </div>
            </div>
            <br>
        </label>
        </div>
        <%}%>
    </form>
</div>
<%- include("../includes/footer.ejs"); %>