<%- include("../includes/header.ejs", {title:"My Events - View All"}); %>
<% if(locals.post_was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Post was successfully created!
    </div>
</div>
<% }%>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Event was successfully created!
    </div>
</div>
<% }%>
<% if(locals.Friend_Add_Successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Friend(s) successfully added!
    </div>
</div>
<% }%>
<h1><%= result[0][0].Event_Name %></h1>
<h2>Created by: <%=result[0][0].Creator%></h2>
<br />

<div id = "FriendsPanel">

<style>
    post{
        padding-top: 5px;
    }
</style>

<h1>Posts <a id = "PostCollapse" data-toggle="collapse" href="#Post" >+</a></h1>
    <div class = "collapse" id = "Post">
        <form action="/event/PostStatus" method="POST">
            <input name = "Post" placeholder="Add a post" id="Email" type="text" />
            <input hidden name = "Event_ID" value="<%=result[0][0].EventID%>" type = "text" />
            <input hidden id = "Sub" value = "Submit" type="submit" />
        </form>
    </div>

    <br>
<%if(result[0][0].Post_ID != null){%>
<div class="card-columns">
    <% for(var i=0; result[0].length > i; i++ ) { %>
    <a id = "post" class="col-sm-10" href="/event/Post/?Post_ID=<%= result[0][i].Post_ID %>">
        <div class="card">
            <div class="container activator">
                <h4 class="card-title"><%=result[0][i].Username%></h4>
                <p style = "word-wrap: break-word;" class="card-text"><%=result[0][i].Content%></p>
                <p>Comments: <%=result[0][i].Comments%> </p>

            </div>
        </div>

    </a>
    <br>
    <br>
    <br>
    <% } %>

</div>
</div>

<%} else{%>
<h4>No posts yet!</h4>
<% } %>
</article>
<div id = "FriendsInvited" >
    <br>
    <h3>People Invited:
    <a id = "FriendToggle" data-toggle="collapse" href="#FriendAdd" >+</a></h3>
    <div class = "collapse" id = "FriendAdd">
        <form action="/event/addFriend" method="get">
            <input hidden name = "Event_ID" value="<%=result[0][0].EventID%>" type = "text" />
            <input id="FriendName" name="First_Name" placeholder="First Name" type="text" default = "Def"/>
            <br>
            <input id="FriendName" name="Last_Name" placeholder="Last Name" type="text" default = "Def" />
            <br>
            <input id="FriendName" name="Username" placeholder="Username" type="text" default = "Def"/>
            <br>
            <input hidden id = "Sub" value = "Search" type="submit" />
        </form>
    </div>
<% for(var i=0; result[1].length > i; i++ ) { %>
<a href="/Account/Friend/?User_ID=<%= result[1][i].User_ID %>">
    <div class="card">
        <div class="container activator">
            <h4 class="card-title"><%=result[1][i].Username%></h4>
            <p class="card-title"><%=result[1][i].First_Name%></p>
            <p class="card-title"><%=result[1][i].Last_Name%></p>
        </div>
    </div>
</a>
<% } %>
    <br>
    <br>
    <br>
    <br>
</div>
<article>



<%- include("../includes/footer.ejs"); %>